# Ignore compiled binaries and object files
*.o
*.out

# Ignore build directories and their contents
/build/
/build/*
/dist/
/dist/*
/node_modules/
/node_modules/*

# Ignore editor-specific files and directories
# .vscode/
.idea/

# Ignore log files and temporary files
*.log
*.tmp

# Ignore sensitive or private information (e.g., API keys)
secrets.json

# Ignore macOS system files
.DS_Store
zsh_history.zsh
zsh_history.txt


# Ignore Zwift Rides
FreeRide.zwo
.vscode/*
.vscode/
settings.json